.container{
    width: 950px;
    background-color: silver;
    margin: 5px;
    padding-top: 5px;
    display: block;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
}
.main {
    height: 400px;
    width: 670px;
    background-color: red;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
}
.sub-content {
    height: 190px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    margin: 8px 8px 10px 8px; 
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}

