.container{
    width: 950px;
    background-color: silver;
    margin: 5px auto;
    margin-top: 10px;
    padding-top: 10px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 20px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin: 10px 35px 150px 20px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}

